certs
import
neo4j
plugins
volume
volume_backup
volume_metaqa/logs
volume_pcqa
app/volume_pcqa
*/.env
data/test
data
data/JP_Academy_neo4j_insert_v2_preprocessed.csv
data/JP_Academy_neo4j_insert_v3_preprocessed.csv
.DS_Store
app/experiments
volume_backup_extra_relation
data/path_encoder_jsonl
result
metaqa_results
metaqa_results_100
metaqa_results_1000
.env
*./output
__pycache__
docs
.claude/